<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="pull-left">
          <h2>Contact Details</h2>
          <h4><b>{{ contact?.name }}</b></h4>
          <img
          [src]="contact?.imageUrl"
          alt="{{ contact?.name }}"
          class="img-responsive"
          style="max-height: 120px;">
        </span>
          <div class="btn-group-justified">
          <span class="pull-right">
            <a (click)="onDelete()" class="btn btn-danger">
                Delete
            </a>
          </span>
          <span class="pull-right">
            <a [routerLink]="['/contacts', contact?.id, 'edit']" class="btn btn-warning">
                Edit
            </a>
          </span>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <b>Email:</b> {{ contact?.email }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <b>Phone:</b> {{ contact?.phone }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

