<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="pull-left">
          <h2>Contact Details</h2>
        </span>
          <div class="btn-group-justified">
          <span class="pull-right">
            <a href="#" style="text-decoration: none">
              <button type="button" class="btn btn-danger">
                Delete
              </button>
            </a>
          </span>
          <span class="pull-right">
            <a href="#" style="text-decoration: none">
              <button type="button" class="btn btn-primary">
                Edit
              </button>
            </a>
          </span>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            Email:
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            Phone:
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Contact <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Edit Contact</a></li>
        <li><a href="#">Delete Contact</a></li>
      </ul>
    </div>
  </div>
</div>

