<div class="row">
  <div class="col-xs-12">
    <div class="container-fluid">
      <div class="pull-left">
        <h2>Contacts</h2>
      </div>
      <div class="pull-right">
        <button class="btn btn-success">New Contact</button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <app-contact-item
      *ngFor="let contactElement of contacts"
      [contact]="contactElement"
      (click)="onSelectContact(contactElement)"
      (contactSelected)="onSelectContact(contactElement)"></app-contact-item>
  </div>
</div>
